h1{
    margin-top: 50px;
    margin-left:120px ;

}

.card-img-top{
    height: 400px;
}


.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    

}

.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 8px 26px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}